In [80]:
import pandas as pd
import numpy as nm

In [81]:
Path ="C:/Users/kapali_s/Documents/SMU/Homeworks/Assignment_ 4/purchase_data.csv"
Purchase_Data = pd.read_csv(Path, encoding="ISO-8859-1")
Purchase_Data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
#Total count
Purchase_Data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [7]:
#Remove duplicates and keep unique values
Purchase_Data_Unique = Purchase_Data["SN"].value_counts()
Purchase_Data_Unique.count()
Total_Players=Purchase_Data_Unique.count()
Total_Players

576

In [8]:
#Number of Unique Items
Number_Unique_Items = Purchase_Data["Item ID"].value_counts()
Number_Unique_Items.count()

#Average Purchase Price
Average_Purchase_Price = Purchase_Data["Price"].mean()
Average_Purchase_Price

#Total Number of Purchases
Total_Number_Purchases = Purchase_Data.count()
Total_Number_Purchases

#Total Revenue
Total_Revenue = Purchase_Data["Price"].sum()
Total_Revenue

2379.77

In [9]:
#Replace Other / Non-Disclosed by NonDisclosed
Purchase_Data['Gender'] = Purchase_Data['Gender'].replace({'Other / Non-Disclosed':'NonDisclosed'})

In [10]:
#Gender Demographics

#Take unique values of gender and SN
Group_Gender_NoDuplicates = Purchase_Data.groupby(["Gender","SN"])
Total_Gender = Group_Gender_NoDuplicates["Gender"].count()

#Percentage and Count of Male Players
Male_Total = Total_Gender['Male'].count()
Male_Total
Male_Percentage = (Male_Total / Total_Players)*100
Male_Percentage

#Percentage and Count of Female Players
Female_Total = Total_Gender['Female'].count()
Female_Total
Female_Percentage = (Female_Total / Total_Players)*100
Female_Percentage

#Percentage and Count of Other / Non-Disclosed
Non_Disclosed_Total = Total_Gender['NonDisclosed'].count()
Non_Disclosed_Total
Non_Disclosed_Percentage = (Non_Disclosed_Total / Total_Players)*100
Non_Disclosed_Percentage

1.9097222222222223

In [52]:
 #Purchasing Analysis (Gender) - MALE
Gender_Group = Purchase_Data.loc[Purchase_Data["Gender"] == "Male",:]
    
Purchase_Count = Gender_Group ['Purchase ID'].count()
Purchase_Count

Avg_Purchase_price = Gender_Group ['Price'].mean()
Avg_Purchase_price
        
Total_Purchase_price = Gender_Group ['Price'].sum()
Total_Purchase_price

#Calculate unique # of males
Group_Gender_NoDuplicates = Purchase_Data.groupby(["Gender","SN"])
Total_Gender = Group_Gender_NoDuplicates["Gender"].count()
Male_NoDuplicates = Total_Gender["Male"].count()

#Average Purchase Total per Person by Gender MALE
Avg_PP_Male = Total_Purchase_price / Male_NoDuplicates
Avg_PP_Male

4.065371900826446

In [43]:
 #Purchasing Analysis (Gender) - FEMALE
Gender_Group = Purchase_Data.loc[Purchase_Data["Gender"] == "Female",:]
    
Purchase_Count = Gender_Group ['Purchase ID'].count()
Purchase_Count

Avg_Purchase_price = Gender_Group ['Price'].mean()
Avg_Purchase_price
        
Total_Purchase_price = Gender_Group ['Price'].sum()
Total_Purchase_price

#Calculate unique # of males
Group_Gender_NoDuplicates = Purchase_Data.groupby(["Gender","SN"])
Total_Gender = Group_Gender_NoDuplicates["Gender"].count()
Female_NoDuplicates = Total_Gender["Female"].count()

#Average Purchase Total per Person by Gender MALE
Avg_PP_Female = Female_Total_Purchase_Value / Female_NoDuplicates
Avg_PP_Female

4.065371900826446

In [51]:
 #Purchasing Analysis (Gender) - OTHER / NON-DISCLOSED
Gender_Group = Purchase_Data.loc[Purchase_Data["Gender"] == "NonDisclosed",:]
    
Purchase_Count = Gender_Group ['Purchase ID'].count()
Purchase_Count

Avg_Purchase_price = Gender_Group ['Price'].mean()
Avg_Purchase_price
        
Total_Purchase_price = Gender_Group ['Price'].sum()
Total_Purchase_price

#Calculate unique # of males
Group_Gender_NoDuplicates = Purchase_Data.groupby(["Gender","SN"])
Total_Gender = Group_Gender_NoDuplicates["Gender"].count()
NonDisclosed_NoDuplicates = Total_Gender["NonDisclosed"].count()

#Average Purchase Total per Person by Gender NonDisclosed
Avg_PP_NonDisclosed = Total_Purchase_price / NonDisclosed_NoDuplicates
Avg_PP_NonDisclosed

4.468395061728395

In [86]:
# Age Demographics
#Group by what we need
GroupBy_SN = Purchase_Data.groupby(["SN","Price"])
GroupBy_SN.head()
Groupby_SN(["Price"].sum()

SyntaxError: unexpected EOF while parsing (<ipython-input-86-450e98173c64>, line 5)